.app {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background: #f3f3f3;
  border-radius: 5px;
}

.todo.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo .icon {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  color: black;
}

.todo .icon:hover {
  color: red;
}

.todo-list {
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add_text {
  padding: 10px;
  border: none;
  background: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.add_text:hover {
  background: darkblue;
}

.filter_button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(138, 213, 234);
  margin-left: 20px;
}